# Base
torch>=2.2.0
torch-geometric>=2.5.0  

# Bases de données
psycopg2-binary>=2.9.9 
neo4j>=5.18.0            

# API
fastapi>=0.110.0
uvicorn[standard]>=0.29.0
pydantic>=2.6.0

# ML
scikit-learn>=1.4.0
numpy>=1.26.0
